.form {
  width: 100%;
  display: flex;
  padding: 1rem 1rem;
  background-color: var(--color-bg-dark);
}

.text {
  flex: 1 1 auto;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn {
  cursor: pointer;
  background-color: var(--color-accent);
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  padding: 0 0.5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn:hover {
  filter: brightness(125%);
}
