header {
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 20px 10px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: aliceblue;
}
.mode {
  border: none;
  background-color: transparent;
}

.mode path {
  color: rgb(244, 100, 48);
}

.mode:hover {
  transform: scale(1.2);
}

.filter {
  display: flex;
}

.filter li {
  margin: 0 5px;
  font-weight: 900;
  color: rgb(244, 100, 48);
}

.filter li.on {
  border-bottom: 2px solid rgb(170, 184, 197);
}

.dark_mode {
  background-color: rgb(0, 0, 65);
}
