main {
  padding: 10px;
}

main > ul > li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main > ul > li > div > label {
  padding-left: 10px;
}

.remove {
  border: none;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  background-color: aliceblue;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove path {
  font-size: 14px;
}

.remove:hover {
  transform: scale(1.2);
}
